In [1]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as p

In [2]:
df=pd.read_csv("C:\\Users\\RAVI\\Downloads\\data sets-20240328T070809Z-001\\data sets\\supermarket_sales - Sheet1.csv")

In [3]:
df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [4]:
df.sample(3)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
490,686-41-0932,B,Mandalay,Normal,Female,Fashion accessories,34.70,2,3.470,72.870,3/13/2019,19:48,Ewallet,69.40,4.761905,3.470,8.2
477,598-47-9715,C,Naypyitaw,Normal,Male,Electronic accessories,84.07,4,16.814,353.094,3/7/2019,16:54,Ewallet,336.28,4.761905,16.814,4.4
729,299-29-0180,B,Mandalay,Member,Female,Home and lifestyle,52.18,7,18.263,383.523,3/9/2019,10:54,Cash,365.26,4.761905,18.263,9.3

In [5]:
df.shape

(1000, 17)

In [6]:
df.columns

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating'],
      dtype='object')

##### - Column Description

- Invoice id: Computer generated sales slip invoice identification number

- Branch: Branch of supercenter (3 branches are available identified by A, B and C).

- City: Location of supercenters

- Customer type: Type of customers, recorded by Members for customers using member card and Normal for without member card.

- Gender: Gender type of customer

- Product line: General item categorization groups - Electronic accessories, Fashion accessories, Food and beverages, Health and beauty, Home and lifestyle, Sports and travel
- Unit price: Price of each product in $

- Quantity: Number of products purchased by customer

- Tax: 5% tax fee for customer buying

- Total: Total price including tax

- Date: Date of purchase (Record available from January 2019 to March 2019)

- Time: Purchase time (10am to 9pm)

- Payment: Payment used by customer for purchase (3 methods are available – Cash, Credit card and Ewallet)

- COGS: Cost of goods sold

- Gross margin percentage: Gross margin percentage
- Gross income: Gross income

- Rating: Customer stratification rating on their overall shopping experience (On a scale of 1 to 10)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

# preprocessing

In [8]:
df.isnull().sum().to_frame().rename(columns={0:'missing values' }).T

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
missing values,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

# checking the inconsistency

In [9]:
for i in df.columns:
    print(df[i].unique)

<bound method Series.unique of 0      750-67-8428
1      226-31-3081
2      631-41-3108
3      123-19-1176
4      373-73-7910
          ...
995    233-67-5758
996    303-96-2227
997    727-02-1313
998    347-56-2442
999    849-09-3807
Name: Invoice ID, Length: 1000, dtype: object>
<bound method Series.unique of 0      A
1      C
2      A
3      A
4      A
      ..
995    C
996    B
997    A
998    A
999    A
Name: Branch, Length: 1000, dtype: object>
<bound method Series.unique of 0         Yangon
1      Naypyitaw
2         Yangon
3         Yangon
4         Yangon
         ...
995    Naypyitaw
996     Mandalay
997       Yangon
998       Yangon
999       Yangon
Name: City, Length: 1000, dtype: object>
<bound method Series.unique of 0      Member
1      Normal
2      Normal
3      Member
4      Normal
        ...
995    Normal
996    Normal
997    Member
998    Normal
999    Member
Name: Customer type, Length: 1000, dtype: object>
<bound method Series.unique of 0      Female
1      Female
2        Male
3        Male
4        Male
        ...
995      Male
996    Female
997      Male
998      Male
999    Female
Name: Gender, Length: 1000, dtype: object>
<bound method Series.unique of 0           Health and beauty
1      Electronic accessories
2          Home and lifestyle
3           Health and beauty
4           Sports and travel
                ...
995         Health and beauty
996        Home and lifestyle
997        Food and beverages
998        Home and lifestyle
999       Fashion accessories
Name: Product line, Length: 1000, dtype: object>
<bound method Series.unique of 0      74.69
1      15.28
2      46.33
3      58.22
4      86.31
       ...
995    40.35
996    97.38
997    31.84
998    65.82
999    88.34
Name: Unit price, Length: 1000, dtype: float64>
<bound method Series.unique of 0       7
1       5
2       7
3       8
4       7
       ..
995     1
996    10
997     1
998     1
999     7
Name: Quantity, Length: 1000, dtype: int64>
<bound method Series.unique of 0      26.1415
1       3.8200
2      16.2155
3      23.2880
4      30.2085
        ...
995     2.0175
996    48.6900
997     1.5920
998     3.2910
999    30.9190
Name: Tax 5%, Length: 1000, dtype: float64>
<bound method Series.unique of 0       548.9715
1        80.2200
2       340.5255
3       489.0480
4       634.3785
         ...
995      42.3675
996    1022.4900
997      33.4320
998      69.1110
999     649.2990
Name: Total, Length: 1000, dtype: float64>
<bound method Series.unique of 0       1/5/2019
1       3/8/2019
2       3/3/2019
3      1/27/2019
4       2/8/2019
         ...
995    1/29/2019
996     3/2/2019
997     2/9/2019
998    2/22/2019
999    2/18/2019
Name: Date, Length: 1000, dtype: object>
<bound method Series.unique of 0      13:08
1      10:29
2      13:23
3      20:33
4      10:37
       ...
995    13:46
996    17:16
997    13:22
998    15:33
999    13:28
Name: Time, Length: 1000, dtype: object>
<bound method Series.unique of 0          Ewallet
1             Cash
2      Credit card
3          Ewallet
4          Ewallet
          ...
995        Ewallet
996        Ewallet
997           Cash
998           Cash
999           Cash
Name: Payment, Length: 1000, dtype: object>
<bound method Series.unique of 0      522.83
1       76.40
2      324.31
3      465.76
4      604.17
        ...
995     40.35
996    973.80
997     31.84
998     65.82
999    618.38
Name: cogs, Length: 1000, dtype: float64>
<bound method Series.unique of 0      4.761905
1      4.761905
2      4.761905
3      4.761905
4      4.761905
         ...
995    4.761905
996    4.761905
997    4.761905
998    4.761905
999    4.761905
Name: gross margin percentage, Length: 1000, dtype: float64>
<bound method Series.unique of 0      26.1415
1       3.8200
2      16.2155
3      23.2880
4      30.2085
        ...
995     2.0175
996    48.6900
997     1.5920
998     3.2910
999    30.9190
Name: gross income, Length: 1000, dtype: float64>
<bound method Series.unique of 0      9.1
1      9.6
2      7.4
3      8.4
4      5.3
      ...
995    6.2
996    4.4
997    7.7
998    4.1
999    6.6
Name: Rating, Length: 1000, dtype: float64>

In [10]:
df_obj=df.select_dtypes(include='object')

In [11]:
df_obj

,Invoice ID,Branch,City,Customer type,Gender,Product line,Date,Time,Payment
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,1/5/2019,13:08,Ewallet
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,3/8/2019,10:29,Cash
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,3/3/2019,13:23,Credit card
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,1/27/2019,20:33,Ewallet
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,2/8/2019,10:37,Ewallet
...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,1/29/2019,13:46,Ewallet
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,3/2/2019,17:16,Ewallet
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,2/9/2019,13:22,Cash
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,2/22/2019,15:33,Cash
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,2/18/2019,13:28,Cash

In [12]:
for i in df_obj.columns:
    print(df_obj[i]-*8.unique())

SyntaxError: invalid decimal literal (4052190225.py, line 2)

In [ ]:
df_numeric=df.select_dtypes(excludes='object')

In [ ]:
df.duplicated()

In [ ]:
df['Date']=pd.to_datetime(df['Date'])
df['Time']=pd.to_datetime(df['Time'])

In [ ]:
df.dtypes

In [ ]:
from datetime import datetime as t

In [ ]:
df["month"]=df.Date.dt.month_name()
df["day_name"]=df.Date.dt.day_name()
df["day"]=df.Date.t.day
df["year"]=df.Date.t.year
df["Hour"]=df.Time.t.Hour

In [ ]:
df.columns

In [ ]:
df.head(2)

In [ ]:
df.drop(columns=['Invoice ID','Branch'],inplace=True)

In [ ]:
df.head(2)

In [ ]:
df.describe().T

In [ ]:
cols=df.describe().T.index[:-3]

In [ ]:
pos=1
p.figure(figsize=(15,10))
for col in cols:
    p.subplot(2,4,pos)
    sb.boxplot(x='col',data=df)
    p.title(col)
    pos=pos+1

In [ ]:
df_numeric.corr()

In [ ]:
df

In [ ]:
df.columns

In [ ]:
df.drop(columns=['Tax 5%','cogs','gross income'])

# total and avg sale of company

In [ ]:
df['Total'].agg(['sum','mean'])

In [ ]:
p.figure(figsize=(10,4),facecolor='pink')
p.subplot(1,2,1)
sb.distplot(df['Total'])
p.title('total sale distibution',color='brown',fontsize=12)
p.subplot(1,2,2)
sb.boxplot(df['Total'])
p.title('outliers detection analysis',fontsize=12,color='brown');
p.show()

# which city is found to be a more crowded

In [ ]:
sb.countplot(x='City',data=df,palette='Set2')
p.title('crowded city')

# total and avg sale of each city

In [ ]:
p.figure(figsize=(12,5))
p.subplot(1,2,1)
sb.barplot(x="City",y="Total",data=df,palette="Set2")
p.yticks([0,50,100,150,200,250,300,350],["0 $","50 $","100 $","150 $","200 $","250 $","300 $","350 $"])
p.title("Average sale of each city ",fontsize=15,color="brown",fontweight="bold")
p.subplot(1,2,2)
sb.barplot(x="City",y="Total",data=df,estimator=sum,palette="Set2")
p.title("Total sale of each city ",fontsize=15,color="brown",fontweight="bold");

# since the napyitaw is the hot selling city so we find the detail of napyitaw in

In [ ]:
df_n=df[df["City"]=="Naypyitaw"]
df_n[df_n["Total"]==df_n["Total"].max()]

In [ ]:
df_n=df[df["City"]=="Naypyitaw"]
df_n[df_n["Total"]==df_n["Total"].min()]

# root cause analysis of hot selling city

In [ ]:
sb.countplot(x='City',data=df,hue='Customer type')

# rating

In [ ]:
sb.barplot(x='City',y='Rating',data=df)

# sale trend of company over the three months

In [ ]:
p.figure(figsize=(15,5))
sb.relplot(x="Date",y="Total",data=df,kind="line",color="purple",estimator=sum,ci=False)
p.xlabel("date")
p.title(" Company Sale trend over the  3 months ",fontsize=10,color="red",fontweight="bold")
p.xticks(rotation=90);

# sale trend of each city

In [ ]:
df_n=df[df["City"]=="Naypyitaw"]
df_y=df[df["City"]=="Yangon"]
df_m=df[df["City"]=="Mandalay"]

In [ ]:
cities=[df_y,df_n,df_m]

In [ ]:
city_name=["Yangon", 'Naypyitaw', 'Mandalay']
pos=1
p.figure(figsize=(14,5))
for city in cities:
    #print(city)
    p.subplot(1,3,pos)
    sb.lineplot(x="Date",y="Total",data=city,estimator=sum,ci=False)
    p.title(f"the trend of city {city_name[pos-1]}")
    p.xticks(rotation=90)
    pos=pos+1

# find the highest business revenue month of the compnay

In [ ]:
sb.barplot(x="month",y="Total",data=df,estimator=sum,palette="Set2");

# business revenue in %age of each month

In [ ]:
df.groupby(["month"])["Total"].agg(["sum"])

In [ ]:
df.columns

# find the highest business revenue month of the city

# customer visiting trend of each branch

# hot selling day of the comapny

# hot selling day of each city

# find the total weekend and weekday sale of each company

# find the total weekend and weekday sale of each company of each city in each month

# find the most revenue generating product of the company

In [ ]:
sb.countplot(x="Product line",data=df,palette="pastel")
p.xticks(rotation=90);

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as p

In [ ]:
p.figure(figsize=(10,12))
sb.barplot(x="City",y="Total",estimator=sum,data=df,palette="Set2",hue="Product line",ci=None)
p.xticks(rotation=90);

# find city and month wise demand

In [ ]:
# find the monthly sale of each product

# peak time of the customer visit at supermarket

# customer visiting time

In [ ]:
p.figure(figsize=(17,9))
sb.relplot(x="Hour",y="Total",data=df,estimator=sum,kind="line",ci=None)

In [ ]:
city_name=["Yangon", 'Naypyitaw', 'Mandalay']
pos=1
p.figure(figsize=(14,15))
for i in city_name:
    #print(city)
    p.subplot(3,1,pos)
    sb.lineplot(x="Hour",y="Total",data=city,estimator=sum,ci=False)
    p.title(f" hourly sale trend of {city_name[pos-1]}")
    p.xticks(rotation=90)
    pos=pos+1

In [ ]:
city=['Yangon', 'Naypyitaw', 'Mandalay']
pos=1
p.figure(figsize=(25,15))
for i in city:
    p.subplot(3,1,pos)
    sb.lineplot(x="hour",y="Total",data=i,estimator=sum,ci=None,hue="Product line")
    p.title(f"peak time of branch {city[pos-1]}")
    p.xticks(list(range(10,21)))
    pos=pos+1

In [ ]:
print("total customers : ",df["Gender"].count())
sb.countplot(x="Gender",data=df)

# total male and female customers in  each city

In [ ]:
sb.countplot(x="City",data=df,hue="Gender")

# who contributed most in each city

In [ ]:
sb.barplot(x="City",y="Total",data=df,estimator=sum,hue="Gender")

# which type of customer  visiting most

In [ ]:
sb.countplot(x="City",data=df,hue="Customer type")

# from which customer type generate highest business

In [ ]:
p.figure(figsize=(12,5))
p.subplot(1,3,1)
p.pie(df_y["Payment"].value_counts().values,labels=df_y["Payment"].value_counts().index,autopct="%.2f%%")
p.title("% of customers based on \nmode of payement of city yangon")
p.subplot(1,3,2)
p.pie(df_m["Payment"].value_counts().values,labels=df_m["Payment"].value_counts().index,autopct="%.2f%%")
p.title("% of customers based on \n mode of payement of city mandalay")
p.subplot(1,3,3)
p.pie(df_n["Payment"].value_counts().values,labels=df_n["Payment"].value_counts().index,autopct="%.2f%%")
p.title("% of customers based on\n mode of payement of city naypayitaw");

In [ ]:
print(len(df[df["Rating"]==4.0]), "customers had given 4 rating")

In [ ]:
print(len(df[df["Rating"]<=5.0]), "customers had given below rating")

In [ ]:
print((len(df[df["Rating"]==4.0])*100)/df["Rating"].count(),"% customers had given 10 rating")

In [ ]:
print((len(df[df["Rating"]<=5.0])*100)/df["Rating"].count(),"% customers had given below 5 rating")